{# templates/index.html_ #}

{% extends "layout.html" %}
{% block title %}Plany służb KŚ{% endblock %}

{% block body %}<div class="jumbotron">
            <h1>Wyszukiwanie służb</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Zaloguj się</a>
            </p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Plan służb</h4>
                <p>Wydruk pojedyńczego planu służby</p>
                <h4>Pociągi</h4>
                <p>Wskazanie służb przewidzianych do obsługi pociągu</p>
            </div>
            <div class="col-lg-6">
                <h4>Dni świąteczne</h4>
                <p>Kalendarz pracy</p>
            </div>
        </div>{% endblock %}

