{# templates/layout.html_ #}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Strona główna</a>
                    </li>
                    <li role="presentation"><a href="wolne">Terminy</a>
                    </li>
                    <li role="presentation"><a href="pociagi">Pociągi</a>
                    </li>
                    <li role="presentation"><a href="sluzby">Służby</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">KŚ Plan</h3>
        </div>
    {% block body %}
    {% endblock %}
        <footer class="footer">
            <p>&copy; GIS Beskidy 2017</p>
        </footer>

    </div>
</body>

</html>
